/* seletor {
  propriedade: valor
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #5db9ff;
  font-size: 100%;  
}

.pokedex-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokedex-header img {
  width: 15%;
  position: relative;
  top: -40px
}

.pokedex-header h1 {
  color: #fbd743;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-shadow: #000 6px 6px 11px;
  position: relative;
  top: -100px
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}